body {
    color: black;
       min-height: 100vh;
       display: flex;
       flex-direction: column;
     ;
   font-family: sans-serif;}


#section1  {
    min-height: 50vh;
} 


section 
{min-height: 50vh;
    color: black;
    display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
}

.captitle {display: flex;}


.buttons { justify-content: space-between;
 min-height: 50vh;
    display: flex;
    display: flex ;
    flex-direction: row;
}

#rock { 
    height: 100px;
    width: 100px;
    background-color: #bbb;

}

#paper { height: 100px;
    width: 100px;
    background-color: #bbb ;}

#scissors { 
    
    height: 100px;
    width: 100px;
    background-color: #bbb;
}

.score {
display: flex;
}

/* .playerScore {

    

}
.computerScore {

} */

#space {
    size: 200px;
} 

#container {
   
    text-align: center;
justify-content: center;
    display: flex;
}

#playAgain {
       
  
} 

